.des-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


.des-header-layout {
    width: 100%;
    height: 149px;
}


.des-main-layout {
    width: 100%;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: hidden;
}


.des-tab-layout {
    width: 100%;
    height: 50px;
    background-color: #f97e27;
}


